     /* Import Google Font - Poppins */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

     * {
       /* margin: 0; */
       /* padding: 0; */
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
     }

     :focus {
       outline: none;
       caret-color: #fff;
     }

     body {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0 10px;
       min-height: 100vh;
       background-image: url("corte.jpg");
       background-repeat: repeat;
     }

     .descricao {
       color: #fff;
       text-shadow: 0.5px 0.5px 0px rgb(56, 0, 178);
       font-size: 16px;
       margin-bottom: 10px;
     }

     ::selection {
       color: #000;
       background: #c6f314;
     }

     .div-mae {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0;
       margin: 0;
     }

     .div-mae h1 {
       text-transform: uppercase;
       /* color: #fff; */
       background: linear-gradient(to right, #c6f314, #d90064, #00ead4, #c100be, #f1c109,
           #15e16e, #4789f7);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       text-align: center;
       line-height: 100%;

     }

     .footer {
       display: flex;
       max-width: 690px;
       width: 100%;
       margin: 10px;
       position: inherit;
       justify-content: center;
       padding: 5px;

       /* background-color: rgba(0, 0, 0, 0.5); */
       /* border: 20px #fff; */
       /* border-radius: 7px; */
       color: #fff;
       text-shadow: 0.5px 0.5px #000;
       text-align: center;
     }

     .div-fora {
       display: flex;
       flex-direction: column;
       max-width: 690px;
       width: 100%;
       padding: 30px;
       background-color: rgba(0, 0, 0, 0.8);
       border: 1px dashed #fff;
       border-radius: 7px;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
       margin: 10px 0px 10px 0px;
     }

     .div-dentro {
       border-radius: 5px;
       border: 1px dashed #fff;
       padding: 10px;
       margin-block: 10px;
     }

     .div-inputs {
       display: flex;
       justify-content: space-around;
       flex-direction: row;
     }

     input {
       border: 0;
       outline: none;
       resize: none;
       padding: 10px 15px;
       border-radius: 5px;
     }



     .texto-branco {
       /* text-shadow: #fff 0.5px 0.5px; */
       text-shadow: 0.5px 0.5px 0px rgb(56, 0, 178);
       color: #fff;
     }

     .texto-rainbow {
       background: linear-gradient(to right, #c6f314, #d90064, #00ead4, #c100be, #f1c109, #15e16e, #4789f7);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }

     select option {
       background-color: #000;
     }

     .div-botoes {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       margin-block: 20px;
     }


     .glossy-button {
       color: white;
       font-size: 18px;
       padding: 10px 15px;
       /* border: 2px solid white; Borda branca */
       border: none;
       border-radius: 40px;
       text-transform: uppercase;
       text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
       font-weight: bold;
       cursor: pointer;
       position: relative;
       box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
     }

     .glossy-button.btn1 {
       background-color: #c6f509;
     }

     .glossy-button.btn2 {
       background-color: #d40162;
     }

     .glossy-button.btn3 {
       background-color: #00e9d4;
     }

     .glossy-button.btn4 {
       background-color: #b705b3;
     }

     .glossy-button:hover {
       transform: scale(1.1);
       transition: 100ms;
     }

     .glossy-button:active {
       transform: scale(1.0);
       /* Aumenta o botão em 10% */
     }

     /* Efeito de brilho glossy */
     .glossy-button::before {
       content: '';
       position: absolute;
       display: flex;
       flex-wrap: wrap;
       left: 15%;
       top: 8%;
       align-items: center;
       width: 70%;
       height: 7%;
       background: rgba(256, 256, 256, 1);
       /* Brilho semi-transparente */
       border-radius: 20px 20px 0px 0px;
       /* Curva no topo */
     }

     .imagens {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 20px;
     }

     @media (max-width: 660px) {
       .div-mae {
         padding: 0px;
         margin: 0px;
       }

       .footer {
         font-size: 13px;
         text-shadow: 0.3px 0.3px;
       }

       .div-fora {
         padding: 20px;
         margin: 10px 0px 10px 0px;
       }

       .div-fora button {
         padding: 13px;
         font-size: 16px;
       }

       .div-botoes {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         margin-top: 20px;
       }

       .div-botoes span {
         max-width: 500px;
         width: 100%;
         color: #fff;
         text-shadow: 0.5px 0.5px 0px rgb(255, 255, 255);
         font-size: 18px;
         text-align: center;
         margin-bottom: 10px;
       }

       .glossy-button {
         color: white;
         font-size: 18px;
         padding: 10px 15px;
         /* border: 2px solid white; Borda branca */
         border: none;
         border-radius: 40px;
         text-transform: uppercase;
         text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 1);
         font-weight: bold;
         cursor: pointer;
         position: relative;
         box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
         width: 50%;
         margin-bottom: 10px;
       }

       .glossy-button:hover {
         transform: scale(1.1);
         transition: 100ms;
       }

       .glossy-button:active {
         transform: scale(1.0);
         /* Aumenta o botão em 10% */
       }

       /* Efeito de brilho glossy */
       .glossy-button::before {
         content: '';
         position: absolute;
         display: flex;
         flex-wrap: wrap;
         left: 15%;
         top: 8%;
         align-items: center;
         width: 70%;
         height: 7%;
         background: rgba(256, 256, 256, 1);
         /* Brilho semi-transparente */
         border-radius: 20px 20px 0px 0px;
         /* Curva no topo */
       }


     }